class <%= controller_class %> < ApplicationController
  def index
    render json: OdataDuty::EdmxSchema.index_hash(schema_metadata_url)
  end

  def metadata
    render xml: OdataDuty::EdmxSchema.metadata_xml(schema)
  end

  def oas2
    # Power Automate's "Import from URL" is a browser-side cross-origin fetch; without this CORS
    # header it fails with a misleading "couldn't download" error even though the server 200s.
    response.set_header('Access-Control-Allow-Origin', '*')
    render json: OdataDuty::OAS2.build_json(schema)
  end

  def show
    render json: schema.execute(params[:url], context: self, query_options: query_options)
  end

  def create
    render json: schema.create(params[:url], context: self, query_options: query_options)
  end

  def destroy
    schema.delete(params[:url], context: self, query_options: query_options)
    head :no_content
  end

  private

  def query_options
    params.to_unsafe_hash.except('url', 'action', 'controller', 'format')
  end

  def schema
    <%= schema_class %>.build(request)
  end

  def schema_metadata_url
    url_for(action: :metadata, only_path: false)
  end
end
